name: Deploy to Portainer

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Trigger Portainer webhook
        run: |
          curl -X POST 
            -H "Content-Type: application/json" 
            --data '{}' 
            ${{ secrets.PORTAINER_WEBHOOK_URL }}
